@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@keyframes caret { 50% { border-color: transparent; } }

html, body{
  margin:0;
  font-family: 'Roboto Mono', monospace;
  background:#1E1E1E;
}

.fill{
  height: 100%;
  width: 100%;
}

#main_content{
  position: absolute; z-index: 2;
  opacity:0;
}

#name_container{
  position: absolute; z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity:1;
  overflow: hidden;
}

.text{
  font-weight: 100;
  font-size: 28px;
  color: #FAFAFA;
}

.dud{
  color: #757575;
}

@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }

.cursor{
  font-family: monospace; 
  width: 0ch;
  border-right: .1em solid;
  border-color: #fafafa;
  overflow: hidden;
  white-space: nowrap;
}

.cursor_big {
  font-size: 28px;
  animation:  caret .5s step-end infinite;
}
.cursor_small{
  font-size: 16px;
  animation:  caret 1s step-end infinite;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeout {
  justify-content: center;
  align-items: center;
  opacity:1;
  animation : fadeOut 1s;
  animation-fill-mode: both;
}

.animation{
  display: flex;
  overflow: hidden;
}

.fadein {
  animation : fadeIn 1s;
  animation-fill-mode: both;
}

 .terminal{
  background-image: radial-gradient(
    rgba(0, 75, 10, 0.774), black 120%
  );
  margin: 0;
  overflow: hidden;
  color: #DCDCDC;
  font: 16px Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}
::selection {
  background: #666;
  text-shadow: none;
}

pre {
  margin: 0;
}

.transparent{
  background-color: transparent;
}

.terminal_host{
  color:#74e2c7
}

.terminal_path{
  color:#8189ff
}

img.logo {
  width: 48px;
  height: 48px;
}