code.hljs{
    padding-top: 2.5em;
    position: relative;
 }
code.hljs:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    width: 100%;
    padding: .2em 0 .2em .5em;
    color: #fff;
}
